<ion-view view-title="Login">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <p>Entre com o seu usuário e senha!</p>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Senha" ng-model="senha">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive activated" ng-click="">Enviar</button>
    </div>
  </ion-content>
</ion-view>
